p: div#gameinfosbox.box.brown2
    div.infos-column
        strong= lingua.black + ': '
        span#gameblack
        br
        strong= lingua.white + ': '
        span#gamewhite
        br
        strong= lingua.gameresult
        span#gameresult
        br
        strong= lingua.gamerules 
        span#gamerules
        br
        strong= lingua.gamekomi 
        span#gamekomi
        br
        strong= lingua.gametime 
        span#gametime
        br
        strong= lingua.gameovertime 
        span#gameovertime
    div.infos-column
        strong= lingua.gamedate 
        span#gamedate
        br
        strong= lingua.gameplace 
        span#gameplace
        br
        strong= lingua.gameevent 
        span#gameevent
        br
        strong= lingua.gamename 
        span#gamename
        br
        strong= lingua.gameannotator 
        span#gameannotator
        br
        strong= lingua.gamescribe 
        span#gamescribe
        br
        strong= lingua.gamesource 
        span#gamesource
        br
        strong= lingua.gamecopyright 
        span#gamecopyright
    div.infos-column
        strong= lingua.gamecomment 
        p#gamecomment
