div.infos-column
    strong= lingua.black + ': '
    span#gameblack
    br
    strong= lingua.white + ': '
    span#gamewhite
    br
    strong= lingua.result + ': '
    span#gameresult
    br
    strong= lingua.rule + ': ' 
    span#gamerule
    br
    strong= lingua.komi + ': ' 
    span#gamekomi
    br
    strong= lingua.time + ': ' 
    span#gametime
    br
    strong= lingua.overtime + ': ' 
    span#gameovertime
div.infos-column
    strong= lingua.date + ': ' 
    span#gamedate
    br
    strong= lingua.place + ': ' 
    span#gameplace
    br
    strong= lingua.event + ': ' 
    span#gameevent
    br
    strong= lingua.gamename + ': ' 
    span#gamename
    br
    strong= lingua.annotator + ': ' 
    span#gameannotator
    br
    strong= lingua.scribe + ': ' 
    span#gamescribe
    br
    strong= lingua.source + ': ' 
    span#gamesource
    br
    strong= lingua.copyright + ': ' 
    span#gamecopyright
div.infos-column
    strong= lingua.gamecomment + ': ' 
    p#gamecomment
