- var size = gobansize + 2, i, j
- var border = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T']
- var coord = ['', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's']
- var hoshi = false

- function hoshiCalc(x, y)
    - var m = (size - 1) / 2, r = size - 5
    - if (size == 11)
        - if ((x == 3 && y == 3) || (x == 5 && y == 3) || (x == 7 && y == 3) || (x == 3 && y == 5) || (x == 5 && y == 5) || (x == 7 && y == 5) || (x == 3 && y == 7) || (x == 5 && y == 7) || (x == 7 && y == 7))
            - return true
    - else if (size > 11)
        - if (size / 2 != Math.round(size / 2) && ((x == 4 && y == m) || (x == m && y == 4) || (x == m && y == m) || (x == m && y == r) || (x == r && y == m)))
            - return true
        - else if ((x == 4 && y == 4) || (x == 4 && y == r) || (x == r && y == 4) || (x == r && y == r))
            - return true
    - return false
- for (i = 0; i < size; i++)
    div
        - for (j = 0; j < size; j++)
            - hoshi = hoshiCalc(i, j)
            - if (i == 1)
                - if (j == 1)
                    .cell
                        .g.gtl1.black
                        .g.gtl2.black
                        .stone(id=coord[j] + coord[i])
                - else if (j == size -2)
                    .cell
                        .g.gtr1.black
                        .g.gtr2.black
                        .stone(id=coord[j] + coord[i])
                - else if (j != 0 && j != size - 1)
                    .cell
                        .g.gt1.black
                        .g.gt2.black
                        .stone(id=coord[j] + coord[i])
                - else
                    .cell= size - i - 1 
            - else if (i == size - 2)
                - if (j == 1)
                    .cell
                        .g.gbl1.black
                        .g.gbl2.black
                        .stone(id=coord[j] + coord[i])
                - else if (j == size -2)
                    .cell
                        .g.gbr1.black
                        .g.gbr2.black
                        .stone(id=coord[j] + coord[i])
                - else if (j != 0 && j != size - 1)
                    .cell
                        .g.gb1.black
                        .g.gb2.black
                        .stone(id=coord[j] + coord[i])
                - else
                    .cell= size - i - 1
            - else if (j == 1 && i != 0 && i != size - 1)
                .cell
                    .g.gl1.black
                    .g.gl2.black
                    .stone(id=coord[j] + coord[i])
            - else if (j == size - 2 && i != 0 && i != size - 1)
                .cell
                    .g.gr1.black
                    .g.gr2.black
                    .stone(id=coord[j] + coord[i])
            - else if (i != 0 && i != size - 1 && j != 0 && j != size - 1)
                .cell
                    - if (hoshi)
                        .h.black
                    .g.g1.black
                    .g.g2.black
                    .stone(id=coord[j] + coord[i])
            - else if ((i == 0 || i == size - 1) && j != size - 1 && j != 0)
                .cell= border[j - 1]
            - else if ((j == 0 || j == size - 1) && i != size - 1 && i != 0)
                .cell= size - i - 1
            - else
                .cell
