form#guestloginform.box.brown3
    div= lingua.guestname
    .inputbox
        input.input(type='text', name='guestname', autocomplete='on',
            maxlength='15', required)
    input.bigbutton.black(type='submit', value= lingua.guestlogin)
form#loginform.box.brown3
    div= lingua.username
    .inputbox
        input.input(type='text', name='username', autocomplete='on',
            maxlength='15', required)
    div= lingua.password
    .inputbox
        input.input(type='password', name='password', required)
    input.bigbutton.black(type='submit', value= lingua.login)
