#menu-logo
#menu-title= lingua.title
#menu-items
    a#m-hall.menulink(href='#')= lingua.hall
    a#m-game.menulink.none(href='#')= lingua.game
    a#m-settings.menulink(href='#')= lingua.settings
    a#m-logout.menulink(href='#')= lingua.logout
