#navtitle= lingua.title
#navmenu.menu
    a#n-game.navlink(href='#')= lingua.game
    a#n-hall.navlink(href='#')= lingua.hall
    if username !== 'guest'
        a#n-sendsgf.navlink(href='#')= lingua.sendsgf
    a#n-settings.navlink(href='#')= lingua.settings
    a#n-gameinfos.navlink(href='#')= lingua.gameinfos
    a#n-logout.navlink(href='#')= lingua.logout
