#navtitle= lingua.title
#navmenu
    a#n-hall.navlink(href='#')= lingua.hall
    a#n-game.navlink(href='#')= lingua.game
    a#n-settings.navlink(href='#')= lingua.settings
    a#n-logout.navlink(href='#')= lingua.logout
