#navtitle= lingua.title
#navmenu
    a#n-game.navlink(href='#')= lingua.game
    a#n-load.navlink(href='#')= lingua.load
    a#n-online.navlink(href='#')= lingua.online
    if username !== 'guest'
        a#n-sendsgf.navlink(href='#')= lingua.sendsgf
    a#n-settings.navlink(href='#')= lingua.settings
    a#n-gameinfos.navlink(href='#')= lingua.gameinfos
    a#n-logout.navlink(href='#')= lingua.logout
