form#registerform.box.brown3
    div= lingua.username
    .inputbox
        input.input(type='text', name='username', autocomplete='on',
            maxlength='15', required)
        .inputhelp.yellow= lingua.helpname 
    div= lingua.password
    .inputbox
        input.input(type='password', name='password', maxlength='64', required)
    div= lingua.email
    .inputbox
        input.input(type='email', autocomplete='on', name='email',
            maxlength='64', required)
    input.linkbutton.black(type='submit', value= lingua.register)
