extends layout

block content
    #messages.none
        #message
            #error.none= lingua.error
            #errorlogin.none= lingua.errorlogin
            #errorname.none= lingua.errorname
            #errorexist.none= lingua.errorexist
            #regsuccess.none= lingua.regsuccess
        #message-footer
            input#message-ok.bigbutton.black(type='button', value= lingua.ok)
    #menu.black.menubar
        #menu-logo
        #menu-title= lingua.yinyango
        #menu-items
            input#m-login.menulink.twhite.inactive(type='button',
                value= lingua.login)
            input#m-register.menulink.twhite.inactive(type='button',
                value= lingua.register)
    #login.screen.none
        include includes/login
    #register.screen.none
        include includes/register
    script(src='js/login.js')
