extends layout

block content
    h1= title
    h2= locale.register
    form.box(name='form', method='post', action='/register')
        p= locale.username
        input.input(type='text', name='username', autocomplete='on',
            autofocus, maxlength='15', required)
        p= locale.password
        input.input(type='password', name='password', required)
        p= locale.email
        input.input(type='email', autocomplete='on', name='email', required)
        p: input.linkbutton.black(type='submit', value= locale.register)
    p: a.linkbutton.black(href='/')= locale.back
