extends layout

block content
    h1= lingua.title
    h2= lingua.register
    if error == 'exist'
        .box.red
            p= lingua.errorexist
            p: a.linkbutton.black(href='/register')= lingua.back
    else if error == 'name'
        .box.red
            p= lingua.errorname
            p: a.linkbutton.black(href='/register')= lingua.back
    else if error == 'none'
        .box.brown2
            p= lingua.regsuccess
            p: a.linkbutton.black(href='/')= lingua.back
    else
        form.box.brown2(name='form', method='post', action='/register')
            p= lingua.username
            input.input(type='text', name='username', autocomplete='on',
                    autofocus, maxlength='15', required)
            .inputhelp.yellow= lingua.helpname 
            p= lingua.password
            input.input(type='password', name='password', maxlength='64',
                    required)
            p= lingua.email
            input.input(type='email', autocomplete='on', name='email',
                    maxlength='64', required)
            p: input.linkbutton.black(type='submit', value= lingua.register)
        p: a.linkbutton.black(href='/')= lingua.back
