extends layout

block content
    h1= lingua.title
    h2= lingua.sendsgf
    if error == 'invalid'
        .box.red
            p= lingua.errorinvalid
            p: a.linkbutton.black(href='/sendsgf')= lingua.back
    else if error == 'md5'
        .box.red
            p= lingua.errormd5
            p: a.linkbutton.black(href='/sendsgf')= lingua.back
    else if error == 'none'
        .box.brown2
            p= lingua.sendsuccess
            p: a.linkbutton.black(href='/sendsgf')= lingua.back
    else
        form.box.brown2(name='form', method='post',
                enctype='multipart/form-data', action='/sendsgf')
            p: label= lingua.selectfile
            p: input.input(type='file', name='sgffile')
            p: label= lingua.selectcategory
            p
                select.input(name='categoryselect')
                    option(value='game')= lingua.game
                    option(value='lesson')= lingua.lesson
                    option(value='problem')= lingua.problem
            p: input.linkbutton.black(type='submit', value= lingua.sendfile)
        p: a.linkbutton.black(href='/')= lingua.back
